<mat-card class="main-class">
    <mat-card-header>
        <mat-card-title class="jobs">Jobs</mat-card-title>
        <mat-card-subtitle class="jobs-button">
            <button mat-button (click)="ShowLiveJobs()">Live jobs</button>
            <button mat-button>Aceepted Jobs</button>
            <button mat-button>Mapped Jobs</button>
            <button mat-button>Favourite Jobs</button>

        </mat-card-subtitle>
    </mat-card-header>
</mat-card>

<mat-card class="card-class" *ngIf="card_display">
    <div class="star-rating-container star-rating-animation">
        <div *ngFor="let star of stars" [ngClass]="[star.class]" (click)="selectStar(star.id)">

            <mat-icon>{{star.icon}}</mat-icon>
        </div>
    </div>

    <div class="upload-icon">
        <button mat-raised-button color="primary">Upload Resume</button>
                <button mat-raised-button color="accent">Map me</button>
    </div>
    <div  class="card_title">
        <mat-card-header>
            <mat-card-title>
                {{card.title}}</mat-card-title>
            <mat-card-subtitle>{{card.text }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <p>
                <mark>U.S hiring</mark> Angular is an application-design framework
        </mat-card-content>
    </div>
    <mat-card-actions class="status-class" >
        <!-- <button mat-button><mat-icon>thumb_up</mat-icon> Like</button>
        <button mat-button><mat-icon>share</mat-icon> Share</button> -->
        <mat-card-subtitle>Live Position:{{card.live_position }}</mat-card-subtitle>
        <mat-card-subtitle>Experience:{{card.Experience }}</mat-card-subtitle>
        <mat-card-subtitle>Salary:{{card.salary }}</mat-card-subtitle>
        <mat-card-subtitle>Domain:{{card.Domain }}</mat-card-subtitle>
        <mat-card-subtitle>Email:{{card.Contact_email }}</mat-card-subtitle>
    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
</mat-card>

<mat-card class="card-class">
    <mat-card-header>
        <mat-card-title>Nihira Techiees</mat-card-title>
        <mat-card-subtitle>Angular 15 - Material UI</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-md-image src="https://angular.io/assets/images/logos/angular/angular.svg" />
    <mat-card-content>
        <p>
            Angular is an application-design framework and development platform for creating efficient and sophisticated
            single-page apps.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button><mat-icon>thumb_up</mat-icon> Like</button>
        <button mat-button><mat-icon>share</mat-icon> Share</button>
    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
</mat-card>
